<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/global.css}">

    <title th:text="${isEdit} ?  'Update Course': 'Create Course'"></title>
</head>
<body>
<div class="container">

    <!-- Dynamic Page Title -->
    <h1 class="page-title"
        th:text="${isEdit ? 'Edit Course' : 'Create Course'}">
    </h1>

    <div class="action-bar">
        <a th:href="@{/admin/courses/{id}(id=${course.id})}" th:if="${isEdit}" class="btn btn-secondary">&larr; Course</a>
        <a th:href="@{/admin/courses}" th:if="${!isEdit}" class="btn btn-secondary">&larr; Courses</a>
    </div>

    <div class="card">

        <!-- DYNAMIC FORM ACTION -->
        <form   th:action="${formAction}"
                th:object="${course}"
                method="post">

            <div class="card-body">
                <input type="hidden" th:field="*{id}">
                <!-- Course Name -->
                <div class="form-group">
                    <label class="form-label">Course Name</label>
                    <label>
                        <input type="text" th:field="*{name}" class="input-field">
                    </label>
                </div>

                <!-- Course Code -->
                <div class="form-group">
                    <label class="form-label">Course Code</label>
                    <label>
                        <input type="text" th:field="*{code}" class="input-field">
                    </label>
                </div>

                <!-- Description -->
                <div class="form-group">
                    <label class="form-label">Description</label>
                    <label>
                        <textarea name="description" rows="3" th:field="*{description}" class="input-field"></textarea>
                    </label>
                </div>

                <!-- Instructor -->
                <div class="form-group">
                    <label class="form-label">Instructor</label>
                    <label>
                        <select th:field="*{instructor}" class="input-field">
                            <option value="">Select Instructor...</option>
                            <option th:each="i : ${instructors}"
                                    th:value="${i.id}"
                                    th:text="${i.firstName + ' ' + i.lastName}">
                            </option>
                        </select>
                    </label>
                </div>
                <!-- Students -->
                <div class="form-group" th:if="${isEdit}">
                    <label class="form-label">Students</label>
                    <label>
                        <select class="input-field"
                                name="studentIds"
                                multiple
                                size="6">
                            <option th:each="s : ${course.students}"
                                    th:value="${s.id}"
                                    th:text="${s.firstName + ' ' + s.lastName}"
                                    selected="selected"
                            >
                            </option>
                        </select>
                        <div>
                        <small class="text-muted">Deselect a student to remove them from this course.</small>
                        </div>
                    </label>
                </div>

                <!-- Status (only show on EDIT mode) -->
                <div class="form-group" th:if="${isEdit}">
                    <label class="form-label">Status</label>
                    <label>
                        <select th:field="*{active}" class="input-field">
                            <option th:value="true">Active</option>
                            <option th:value="false">Inactive</option>
                        </select>
                    </label>
                </div>

            </div>

            <div class="card-footer">
                <!-- Dynamic Button Text -->
                <button type="submit" class="btn btn-primary"
                        th:text="${isEdit}? 'Save Changes' : 'Create Course'">
                </button>
            </div>

        </form>

    </div>

</div>
</body>
</html>