<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <title th:text="${isEdit} ?  'Update SUbmission': 'Create Submission'"></title></head>
<body>
<!-- Dynamic Page Title -->
<h1 class="page-title"
    th:text="${isEdit ? 'Edit Course' : 'Create Course'}">
</h1>

<div class="action-bar">
    <a th:href="@{/admin/submissions/{id}(id=${submission.id})}" th:if="${isEdit}" class="btn btn-secondary">&larr; Submission</a>
    <a th:href="@{/admin/teams/{id}(id=${teamId})}" th:if="${!isEdit}" class="btn btn-secondary">&larr; Team</a>
</div>

<div class="card">

    <!-- DYNAMIC FORM ACTION -->
    <form   th:action="${formAction}"
            th:object="${submission}"
            method="post">

        <div class="card-body">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" name="teamId" th:value="${teamId}">

            <!-- Submission Name -->
            <div class="form-group">
                <label class="form-label">Submission Name</label>
                <label>
                    <input type="text" th:field="*{name}" class="input-field">
                </label>
            </div>
            <!-- Student -->
            <div class="form-group">
                <label class="form-label">Student</label>
                <label>
                    <select name="studentId" class="input-field" required>
                        <option value="">Select Student...</option>
                        <option th:each="m : ${members}"
                                th:value="${m.id}"
                                th:text="${m.firstName + ' ' + m.lastName}"
                                th:selected="${isEdit and submission.student.id == m.id}">
                        </option>
                    </select>
                </label>
            </div>
            <div class="form-group">
                <label class="form-label">Deadline</label>
                <label>
                    <input name="deadline"
                           type="datetime-local"
                           class="input-field"
                           th:value="${#temporals.format(submission.deadline, 'yyyy-MM-dd''T''HH:mm')}">
                </label>
            </div>
            <!-- Grade only in edit -->
            <div class="form-group" th:if="${isEdit}">
                <label class="form-label">Grade</label>
                <label>
                    <input type="number" step="0.1" th:field="*{grade}" class="input-field">
                </label>
            </div>
        </div>

        <div class="card-footer">
            <!-- Dynamic Button Text -->
            <button type="submit" class="btn btn-primary"
                    th:text="${isEdit}? 'Save Changes' : 'Create Submission'">
            </button>
        </div>

    </form>

</div>
</body>
</html>