<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <title>Submissions Management</title>
</head>
<body>
<div class="container">

    <!-- Page Title -->
    <h1 class="page-title">Submissions Management</h1>
    <div class="alert alert-success" th:if="${success}">
        <p th:text="${success}"></p>
    </div>
    <!-- Action Row -->
    <div class="action-bar">
        <!-- Search Box -->
        <div class="form-group-inline">
            <form method="get" th:action="@{/admin/submissions}" class="search-form">
                <label>
                    <input type="text" name="search" class="input-search" th:value="${search}"
                           placeholder="submission, team, course name">
                </label>
                <button type="submit" class="btn btn-secondary">Search</button>
            </form>
        </div>
    </div>
    <div th:replace="fragments/submissions-table :: submissionsTable(${submissions})"></div>
</div>
</body>
</html>