<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <title th:text="${isEdit} ?  'Update Team': 'Create Team'"></title>
</head>
<body>
<div class="container">

    <!-- Dynamic Page Title -->
    <h1 class="page-title"
        th:text="${isEdit ? 'Edit Team' : 'Create Team'}">
    </h1>

    <div class="action-bar">
        <a th:href="@{/admin/courses/{id}(id=${courseId})}" th:if="${!isEdit}" class="btn btn-secondary">&larr; Course</a>
        <a th:href="@{/admin/teams/{id}(id=${team.id})}" th:if="${isEdit}" class="btn btn-secondary">&larr; Teams</a>
    </div>

    <div class="card">

        <!-- DYNAMIC FORM ACTION -->
        <form   th:action="${formAction}"
                th:object="${team}"
                method="post">

            <div class="card-body">
                <input type="hidden" th:field="*{id}">
                <!-- Hidden courseId -->
                <input type="hidden" name="courseId" th:value="${courseId}"/>
                <!-- Course Name -->
                <div class="form-group">
                    <label class="form-label">Team Name</label>
                    <label>
                        <input type="text" th:field="*{name}" class="input-field">
                    </label>
                </div>

                <!-- Members Multi-Select -->
                <div class="form-group">
                <label class="form-label">Select Members</label>
                <label>
                    <select multiple name="memberIds">
                        <option th:each="s : ${students}"
                                th:value="${s.id}"
                                th:text="${s.firstName + ' ' + s.lastName}"
                                th:selected="${isEdit ? team.members.contains(s) : false}">
                        </option>
                    </select>
                </label>
                </div>
                <div class="form-group">
                <small class="text-muted">
                    Hold <b>Ctrl</b> (Windows) or <b>Command</b> (Mac) to select/unselect multiple.
                </small>
                </div>

                <!-- Status (only show on EDIT mode) -->
                <div class="form-group" th:if="${isEdit}">
                    <label>
                        <select th:field="*{active}" class="input-field">
                            <option th:value="${true}">Active</option>
                            <option th:value="${false}">Inactive</option>
                        </select>
                    </label>
                </div>

            </div>

            <div class="card-footer">
                <!-- Dynamic Button Text -->
                <button type="submit" class="btn btn-primary"
                        th:text="${isEdit}? 'Save Changes' : 'Create Team'">
                </button>
            </div>

        </form>

    </div>

</div>
</body>
</html>